---
import Cooker from "../components/Cooker.astro";
import ItemIngredients from "../components/ItemIngredients.astro";
import Container from "../layouts/container.astro";

import ic_bomb from "../../img/ic_bomb.svg?raw";
import ic_beef from "../../img/ic_beef.svg?raw";
import ic_water from "../../img/ic_water.svg?raw";
import ic_birria from "../../img/ic_birria.svg?raw";
import ic_stove from "../../img/ic_stovetop.svg?raw";
import ic_slow_cooker from "../../img/ic_slow_cooker.svg?raw";
import ic_pressure from "../../img/ic_pressure.svg?raw";
---

<section class="bg-[#F2EFDD]">
  <Container extra_classes="py-36">
    <h2 class="text-5xl md:text-6xl font-bold leading-[55px]">
      How Does It Work ?
    </h2>
    <div class="flex justify-between">
      <p
        class="text-3xl md:text-4xl mt-8 sm:mt-12 lg:mt-20 mb-12 text-[#DF2536] font-semibold"
      >
        You'll need
      </p>
      <p class="img-here"></p>
    </div>

    <div
      class="mt-4 px-4 py-20 md:p-12 lg:p-20 bg-white rounded-3xl mx-auto 2xl:max-w-[1920px] lg:flex gap-8 xl:gap-10 2xl:gap-12 justify-center xl:justify-between"
    >
      <ItemIngredients amount="1" description="Birria Bomb">
        <div
          class="origin-left lg:origin-center scale-[0.6] md:scale-75 xl:scale-100"
        >
          <Fragment set:html={ic_bomb} />
        </div>
      </ItemIngredients>

      <p class="text-center my-4 text-4xl font-bold text-slate-400">+</p>

      <ItemIngredients
        amount="2-3"
        amount_unit="LBS"
        description="Beef Chuck Roast"
      >
        <div
          class="origin-left lg:origin-center scale-[0.6] md:scale-75 xl:scale-100"
        >
          <Fragment set:html={ic_beef} />
        </div>
      </ItemIngredients>

      <p class="text-center my-4 text-4xl font-bold text-slate-400">+</p>

      <ItemIngredients amount="4" description="Cups of water">
        <div
          class="origin-left lg:origin-center scale-[0.6] md:scale-75 xl:scale-100"
        >
          <Fragment set:html={ic_water} />
        </div>
      </ItemIngredients>

      <p class="text-center my-4 text-4xl font-bold text-slate-400">=</p>

      <ItemIngredients
        description="Birria!"
        img_class="xl:ml-4"
        description_class="xl:mt-2"
        birria={true}
      >
        <div
          class="origin-left lg:origin-center scale-[0.6] md:scale-75 xl:scale-100"
        >
          <Fragment set:html={ic_birria} />
        </div>
      </ItemIngredients>
    </div>

    <!-- close ingredients container -->

    <h4 class="text-3xl md:text-4xl mt-20 mb-12 text-[#DF2536] font-semibold">
      A cooker of your choice
    </h4>

    <div
      class="flex flex-col lg:flex-row gap-8 lg:gap-10 xl:gap-12 justify-between"
    >
      <Cooker
        name="Stovetop"
        description="Set to a medium flame and let it simmer for 3 hours."
      >
        <Fragment set:html={ic_stove} />
      </Cooker>

      <Cooker
        name="Pressure Cooker"
        description="Set timer on high for 1 hour and 45 minutes."
      >
        <Fragment set:html={ic_pressure} />
      </Cooker>

      <Cooker
        text_left="true"
        name="Slow Cooker"
        description="Choose the low setting and cook for 8 hours. if you’re short on time, opt for the high setting and cook for 6 hours."
      >
        <Fragment set:html={ic_slow_cooker} />
      </Cooker>
    </div>
  </Container>
</section>
